.D {
  border: 1px solid;
}

.song-cover {
  width: 4rem;
}

.song-row {
  background-color: rgb(36, 36, 36);
}

.footer {
  width: 47rem;
}

#song-info-row {
  background: linear-gradient(gray, rgb(44, 44, 44));
}
